.contenedorFormReg{
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formularioRegistro{
width: 80%;
height: auto;
}